/*  
    -webkit- (Chrome, Safari, newer versions of Opera, almost all iOS browsers (including Firefox for iOS); basically, any WebKit based browser)
    -moz- (Firefox)
    -o- (Old, pre-WebKit, versions of Opera)
    -ms- (Internet Explorer and Microsoft Edge) 
*/

/* ---------------Resizing for mobile--------------- */
@media screen and (max-width: 767px) {

    .navbar li a {
        margin-top: 4px;
    }

    header .rounded-circle {
        width: 150px;
        border: 2px solid aqua;
    }

    header h1 {
        font-size: 50px;
        letter-spacing: 10px;
        margin-top: 0px;
    }

    header h4 {
        font-size: 25px;
        font-weight: 400;
        letter-spacing: 2px;
    }

    .bg-images1 {
        box-shadow: inset 0 -200px 800px 10px rgba(0, 0, 0, 0.712);
    }
}

@media screen and (min-width: 768px) {

    .navbar li a {
        margin: 0 4px;
        padding: initial 10px;
    }

    header .rounded-circle {
        width: 180px;
        border: 2px solid aqua;
    }

    header h1 {
        font-size: 65px;
        letter-spacing: 10px;
        margin-top: 0px;
    }

    header h4 {
        font-size: 30px;
        font-weight: 100;
        letter-spacing: 5px;
    }

    .bg-images1 {
        box-shadow: inset 0 -200px 800px 20px rgba(0, 0, 0, 0.712);
    }
}

/* ------------------------end of resizing------------------------ */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f2f2f2;
    width: 100%;
    font-family: 'PT Sans', sans-serif;
}

.navbar .container a {
    font-size: 20px;
}

.navbar .navbar-brand {
    color: aqua;
    border-color: aqua !important;
    font-family: 'Major Mono Display', monospace;
}

.navbar i {
    font-size: 40px;
    color: aqua;
}

.navbar .nav-link.active,
.navbar .nav-link:hover {
    background-color: rgb(2, 231, 231);
}

.bg-images1 {
    background: url("images/jumbotron.jpg") center top no-repeat fixed;
    background-size: cover;
    height: 550px;
    padding: 60px 0 0 0;
    position: relative;
}

.bg-images1::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -40px;
    bottom: 0;
}

header {
    position: relative;
    z-index: 1;
    min-height: 500px;
}

header h1 {
    font-weight: lighter;
    text-transform: uppercase;
}

.blue {
    border-top: 2px ridge aqua;
    width: 225px;
    margin-top: 5px;
}

.skill .container {
    position: relative;
    margin-top: -130px;
    border-radius: 20px;
    z-index: 2;
}

.skill h1,
.about h1,
.projects h1 {
    letter-spacing: 3px;
    font-weight: 100;
    text-transform: uppercase;
}

.skill object {
    height: 80px;
}

.about {
    margin-top: 50px;
    padding: 72px 0;
}

.contact {
    padding: 72px 5%;
}

.projects {
    padding: 72px 0 60px;
}

.projects p {
    font-weight: 300;
    font-size: 20px;
}

.projects .html-5,
.projects .css-3 {
    width: 40px;
    margin: 0 5px;
}

.projects .b-4 {
    width: 48px;
    margin: 0 5px;
}

.projects .card {
    border-radius: 30px;
}

.projects img {
    border-radius: 30px 30px 0 0;
}

.projects .fa-plus-circle {
    color: green;
}

.contact i {
    font-size: 24px;
}

.contact .social-media i {
    font-size: 50px;
}

.contact .form-border {
    border: 2px solid aqua;
    border-radius: 40px;
    padding: 30px;
}

footer {
    background-color: aqua;
}